from enum import Enum


class MonitorType(str, Enum):
    """Enumerate monitor types."""
    {{""}}
{%- for type_ in monitor_types.values() %}
    {{ type_["value"].upper().replace("-", "_") }} = "{{ type_["value"] }}"
    """{{ type_["title"] }}"""
{% endfor -%}

